/* font Antipasto  */
@font-face {
    font-family: 'antipasto_pro_regular';
    src: url('fonts/antipasto-pro-regular-trial-webfont.woff2') format('woff2'),
         url('fonts/antipasto-pro-regular-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* mini-reset*/
a,a:hover {
    text-decoration:none;   
    color: black
}
#banner h1 a, #banner h1 a:hover{
    text-decoration:none;   
    color: black 
}
ul{
    list-style-type: none;
}
/* general */
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
h1 a, #banner h2, #slider h2, .section-title h5, .info-interiors h5 {
    font-family:'antipasto_pro_regular';
}
body {
    font-family:'Segoe UI';
}
/* ==== HEADER === */
#banner .side-title {
    font-size:1.3rem;
}
#banner {
    border-top:7px solid rgb(151,149,150); 
}
#banner #interiors {
    font-size: 3rem;;
}
/* === Slider === */
.carousel-item img {
    max-height: 520px;
    min-width: auto;
  }
.carousel-item h2{
    text-transform: uppercase;
    font-size: 1.5rem;
}
.carousel-item h2 span{
    font-size: 3rem;
}
#slider .slider-title {
    left:0%;
    right: 0%;
    bottom: 0%;
    padding-bottom: 0px;
    opacity: 0.7;
}
/* === Section1 Vignettes === */
.section-title .line {
    border: 3px solid rgb(228,228,228);
    background-color: #e4e4e4;
}
#main-menu,.card-deck .card-body, 
.card-deck .card-header,
.card-deck .card, .card {
    border: 3px solid #f0f0f0!important;
}
.card-deck .card-body{
    padding:0.8rem;
}
/* === Section 2 === */
.news h5{
    font-size: 1rem;
}
.card .btn-more-info, .info-interiors .btn-more-info {
    font-size: 0.8rem;
}
#modal-2 #img-news2  {
    max-width: 100%;
}
#modal-1 #img-news1 {
    max-width: 60%;
}
#catalogue #info  {
    top:0%;
    left:22%;
}
#catalogue #modal-btn {
    top:62%;
    left: 16%;
}
#catalogue .btn-catalogue{
    margin-top: 8rem;
}
#catalogue .title-ref{
    margin-top: 2rem;
}
/* MQ */
 @media (max-width: 768px) {
    #slider {
    display: none;
    max-width: 100%;
}
#catalogue #modal-btn {
    top:62%;
    left: 14%;
}
#catalogue #info  {
    top:0;
    left:18%;
}
}   


